<div class="reset-password-container">
    <h2>Restablecer Contraseña</h2>
    <form [formGroup]="formulario" (ngSubmit)="resetPassword()" class="form-container">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" placeholder="Correo Electrónico" type="email" id="email">
        <mat-error *ngIf="formulario.get('email').hasError('required')">Correo es requerido.</mat-error>
        <mat-error *ngIf="formulario.get('email').hasError('email')">Correo electrónico no válido.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput formControlName="newPassword" placeholder="Nueva Contraseña" type="password" id="newPassword">
        <mat-error *ngIf="formulario.get('newPassword').hasError('required')">Contraseña es requerida.</mat-error>
        <mat-error *ngIf="formulario.get('newPassword').hasError('minlength')">Contraseña debe tener al menos 6 caracteres.</mat-error>
        <mat-error *ngIf="formulario.get('newPassword').hasError('pattern')">La contraseña debe contener al menos una mayúscula y un carácter especial.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput formControlName="confirmPassword" placeholder="Confirmar Contraseña" type="password" id="confirmPassword">
        <mat-error *ngIf="formulario.get('confirmPassword').hasError('required')">Confirmar contraseña es requerido.</mat-error>
        <mat-error *ngIf="formulario.get('confirmPassword').hasError('notEqual')">Las contraseñas no coinciden.</mat-error>
      </mat-form-field>
  
      <button mat-raised-button type="submit" [disabled]="formulario.invalid" class="submit-button">Restablecer Contraseña</button>
    </form>
  
  </div>


