.reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Usa el 100% del alto de la ventana */
    margin-top: 10px; /* Espacio en la parte superior */
  }
  
  .form-container {
    width: 300px; /* Ajusta el ancho según sea necesario */
    margin-bottom: 30px; /* Espacio en la parte inferior */
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .submit-button {
    width: 100%;
    margin-top: 15px;
  }
  
  .reset-password-success-message {
    margin-top: 15px;
    color: green;
  }
  
  