    <div class="usuarios">

    <div class="header">
      <h2 class="title">Administrar Usuarios</h2>
    </div>  
  
    <div class="search-bar">
        <div class="search-bar">
            <mat-form-field appearance="fill">
              <mat-label>Buscar por nombre</mat-label>
              <input matInput placeholder="Nombre" [(ngModel)]="consulta">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="buscarUsuarios()">Buscar</button>
          </div>
        <button mat-raised-button (click)="mostrarTodos()" class="center-button" class="custom-green-button">Mostrar TODO</button>
    </div>
  
    <div class="spinner-container" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  
    <mat-table class="usuarios-table mat-elevation-z8" [dataSource]="usuarios">
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef [style.width]="'100px'">NOMBRE</mat-header-cell>
          <mat-cell class="custom-cell" *matCellDef="let usuario">{{ usuario.nombre }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef class="custom-cell email-column">EMAIL</mat-header-cell>
            <mat-cell class="custom-cell email-column" *matCellDef="let usuario">{{ usuario.email }}</mat-cell>
        </ng-container> 
        <ng-container matColumnDef="rol">
          <mat-header-cell *matHeaderCellDef>ROL</mat-header-cell>
          <mat-cell class="custom-cell" *matCellDef="let usuario">{{ usuario.rol }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="portal">
          <mat-header-cell *matHeaderCellDef>PORTAL</mat-header-cell>
          <mat-cell class="custom-cell" *matCellDef="let usuario">{{ usuario.portal }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
          <mat-cell class="custom-cell" *matCellDef="let usuario">

            <button mat-icon-button color="primary" (click)="editarUsuario(usuario)" [disabled]="usuario.eliminable">
              <mat-icon>edit</mat-icon>
            </button>
            
            <button mat-icon-button color="warn" (click)="eliminarUsuario(usuario)" [disabled]="usuario.eliminable">
              <mat-icon>delete</mat-icon>
            </button>
            
            
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'coordinador-row': row.color === 'lightgray'}"></mat-row>
      </mat-table>
      
  
  </div>